.cardio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 220px;
    height: 300px;
    background-color: white;
    margin: 20px;
    border-radius: 7px;       
}

.titleDesign {
    font-size: 20px;
    margin: 2px;
}

.descripDesign {
    font-size: 20px;
    margin: 2px;
}

.priceDesign {
    font-size: 20px;
    margin: 2px;
}

.buttonDesign {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    background-color: rgb(17, 226, 209);
    margin: 5px;
    border-radius: 7px;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.imgzapa1{
    width: 170px;
    height: 100px;
}